@import "tailwindcss";

@font-face {
    font-family: 'Battambang';
    src: url('.././fonts/Battambang-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

body{
    font-family: 'Battambang', sans-serif;
}

.bg-main{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(".././images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}
